{% extends 'auth_base.html '%}
{% block content %}
<!--container and bootstrap config designs-->
<div id="main-wrapper" class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="card border-0">
        <div class="card-body p-0">
          <div class="row no-gutters">
            <div class="col-lg-6">
              <div class="p-5">


                <!--forms bootstrap-->
                <div class="mb-4">
                  <h3 class="h4 font-weight-bold text-theme">Login</h3>
                </div>
                <h6 class="h5 mb-0">Welcome back!</h6>
                <p class="text-muted mt-2 mb-5">Sign in and enjoy cool stuff just for you!</p>
                <form action="" method="POST">
                  {% csrf_token %}
                  <div class="form-group">
                    {{ form.as_p }}
                  </div>
                  <button type="submit" class="btn btn-theme">Login</button><br><br>
                  <p class="text-muted">Don't have an account? <a href="{% url 'landing_page' %}"
                      class="text-primary ml-1">Register</a></p>


                  <p><a href="{% url 'password_reset' %}" class="text-primary ml-1">Forgot Password?</a></p>
                </form>
                <h5>PRAgab19-5158-794</h5>
              </div>
            </div>


            <!--image on the right and the texts-->
            <div class="col-lg-6 d-none d-lg-inline-block">
              <div class="account-block rounded-right">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>








<style>
  * {
    font-family: 'Poppins', sans-serif;
  }

  body {
    margin-top: 80px;
    background: #f6f9fc;
  }

  .account-block {
    padding: 0;
    background-image: url(https://images.unsplash.com/photo-1545830790-68595959c491?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
  }

  .account-block .overlay {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .account-block .account-testimonial {
    text-align: center;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
  }

  .text-theme {
    color: #5369f8 !important;
  }

  .btn-theme {
    background-color: #5369f8;
    border-color: #5369f8;
    color: #fff;
  }
</style>

{% endblock %}