{% extends 'auth_base.html' %}
{% block content %}
<!--container and bootstrap config designs-->
<div id="main-wrapper" class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="card border-0 shadow-lg">
        <div class="card-body p-0">
          <div class="row no-gutters">
            <!--forms bootstrap-->
            <div class="col-lg-6 p-5">
              <div class="mb-4">
                <h3 class="h4 font-weight-bold text-theme">Login</h3>
              </div>
              <h6 class="h5 mb-0">Welcome back!</h6>
              <p class="text-muted mt-2 mb-5">Sign in and enjoy cool stuff just for you!</p>
              <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  {{ form.username.label_tag }}
                  {{ form.username }}
                </div>
                <div class="form-group">
                  {{ form.password.label_tag }}
                  {{ form.password }}
                </div>
                <br>
                <button type="submit" class="btn btn-theme btn-block">Login</button><br><br>
                <p class="text-muted text-center">Don't have an account? <a href="{% url 'landing_page' %}" class="text-primary">Register</a></p>
                <p class="text-muted text-center"><a href="{% url 'password_reset' %}" class="text-primary">Forgot Password?</a></p>
              </form>
              <h5 class="text-center">PRAgab19-5158-794</h5>
            </div>
            <!--image on the right and the texts-->
            <div class="col-lg-6 d-none d-lg-block">
              <div class="account-block rounded-right"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .account-block {
    background-image: url('https://images.unsplash.com/photo-1545830790-68595959c491?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
  }
</style>

{% endblock %}
