


{% extends 'auth_base.html' %}
{% load static %}
{% block content %}
  <div class="container text-center position-relative">
    <img src="{% static 'images/farm.jpg' %}" alt="Farm Landscape" class="img-fluid my-4" style="filter: brightness(0.7);">
    <div class="position-absolute top-50 start-50 translate-middle text-white text-center">
      <h1 class="mb-4">🌾 Your Password is Ready! 🌱</h1>
      <p class="mb-4">Your password has been successfully set, just like planting seeds in the soil of opportunity.</p>
      <p>
        You can now <a href="{% url 'my_login' %}" class="btn btn-success btn-lg rounded-pill" style="background-color: #4CAF50; border-color: #4CAF50;">log in</a> 
        with your new password and start cultivating your journey!
      </p>
      <p>Get ready to harvest all the benefits ahead!</p>
    </div>
  </div>
{% endblock %}
