



{% autoescape off %}
Hi {{ user.get_username }},

We noticed that you requested to reset your password. Don’t worry, you can set a new one by clicking the link below:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Please note, this link is only valid for a limited time to keep your account secure. If you didn’t request a password reset, just ignore this email and your account will remain safe and unchanged.

If you have any questions, feel free to reach out to our support team for help.

Best regards,  
AgroSavvy Support Team
{% endautoescape %}
