{% extends 'auth_base.html' %}

{% block content %}
<div id="main-wrapper" class="container">
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="card border-0 shadow-lg" >
        <div class="card-body p-0">
          <div class="row no-gutters">
            <div class="col-lg-6">
              <div class="p-5">
                <h3 class="h4 font-weight-bold text-theme">Sign Up</h3>
                <p class="text-muted mt-2 mb-4">Join the growing community Barangay Officers!</p>
                <form action="" method="POST">
                  {% csrf_token %}
                  {% for field in form %}
                  <div class="form-group mb-3">
                    {{ field.label_tag }}
                    {{ field }}
                    <span class="text-error">{{ field.errors }}</span>
                  </div>
                  {% endfor %}
                  <button type="submit" class="btn btn-theme" value="Register">Create Account</button>
                  <br><br>
                  <p class="text-muted">Already have an account? <a href="{% url 'my_login' %}">Login</a></p>
                </form>
              </div>
            </div>
            <!-- IMAGE ON THE RIGHT -->
            <div class="col-lg-6 d-none d-lg-inline-block">
              <div class="account-block rounded-right">
                <div class="overlay rounded-right"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .account-block {
    padding: 0;
    background-image: url('https://images.unsplash.com/photo-1492496913980-501348b61469?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
  }
</style>
{% endblock %}
