{% extends 'bofa_base.html' %}

{% block content %}
<br><br>
<main class="container">
  <nav class="navbar navbar-expand-md navbar-light" style="background-color: transparent;">
    <div class="container-fluid justify-content-center">
      <a class="navbar-brand d-none" href="#">Settings</a> <!-- Hidden brand for alignment purposes -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="{% url 'bofa_settings' %} "class="nav-link active" aria-current="page">Profile</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'bofa_password_change' %}" class="nav-link">Change Password</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Security</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Billing</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Connected Apps</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col-md-6 mt-5 offset-md-3">
      <div id="profile" class="card">
        <div class="card-header">
          Profile
        </div>
        <form method="POST" enctype="multipart/form-data" class="card-body">
          {% csrf_token %}
          {{ updateprofileform.as_p }}
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
      </div>
    </div>
  </div>


  <script>
    function confirmDeactivation(event) {
      if (!confirm("Are you sure you want to deactivate your account?")) {
        event.preventDefault();
      }
    }
  </script>

  <div class="row">
    <div class="col-md-6 mt-5 offset-md-3">
      <div class="d-flex align-items-center mt-3">
        <form method="post" action="{% url 'bofa_deactivate_account' %}" onsubmit="confirmDeactivation(event)">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary deactivate-button">Deactivate</button>
        </form>
        <span class="additional-text mx-4">By deactivating this account, you will temporarily lose access to
          all of your Agrosavvy data. You will not be able to create a
          new account with the username <strong>{{ user.username }}</strong>. Are you sure you want to proceed?
        </span>
      </div>
    </div>
  </div>

  <br><br><br>
</main>

<style>
  .navbar-nav .nav-link.active {
    color: blue !important;
    position: relative;
  }

  .navbar-nav .nav-link.active::after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }

  
  .deactivate-button {
    border-radius: 30px;
  }

  .additional-text {
    margin-left: 10px;
  }

  .btn {
    border-radius: 30px;
  }
</style>



{% endblock %}