{% load static %}
<header class="header d-flex justify-content-between align-items-center mt-4">
    <style>
        /* navbar */
        .header {
            padding: 10px 20px;
        }

        .input-group {
            width: 800px;
        }
    </style>


    <!-- Search Bar -->
    <div class="d-flex align-items-center">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary" type="button">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <div class="d-flex align-items-center">
        <button class="btn btn-outline-secondary btn-notification me-3" type="button">
            <i class="fas fa-bell"></i>
        </button>
        <div class="dropdown d-flex align-items-center user-info">
            <a class="btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}" alt="Profile Picture"
                    style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover;" />
                {% else %}
                <img src="{% static 'default_pp.jpg' %}" alt="Default Profile Picture"
                    style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover;" />
                {% endif %}
            </a>

            <div class="ms-2 d-flex flex-column justify-content-center">
                <strong>{{ user.username }}</strong>

                {% if user.is_farmer %}
                <span class="small text-muted">Farmer</span>
                {% elif user.is_barangay_officer %}
                <span class="small text-muted">Brgy Officer</span>
                {% elif user.is_da_admin %}
                <span class="small text-muted">DA Admin</span>
                {% else %}
                Unknown
                {% endif %}
                
            </div>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'bofa_settings' %}">Update Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'bofa_password_change' %}">Change Password</a></li>
                <li><a class="dropdown-item" href="{% url 'my_logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>
</header>