{% extends 'base.html' %}
{% block header %}
{% endblock %}
{% block content %}




<div class="container mt-4">

    <div class="row">
        <!-- Field and Address Details Section -->
        <div class="col-md-6">
            <div class="card shadow-lg border-0 rounded-3">
                <div class="card-body p-4">
                    <a href="{% url 'dashboard' %}" class="btn btn-outline-secondary btn-sm mb-3">Go back <i class='bx bx-chevrons-left'></i></a>
                    <h4 class="card-title mb-4 text-primary"><strong>Add Field Details</strong></h4>
                    <form id="fieldForm" method="POST">
                        {% csrf_token %}
                        {{ field_form.as_p }}

                        <h5 class="mt-4 text-secondary"><strong>Address Details</strong> <small>(Cebu City only)</small>
                        </h5>
                        {{ address_form.as_p }}

                        <div class="form-group mt-4">
                            <button type="button" id="geocodeButton" class="btn btn-primary btn-block mb-2">Show on
                                Map</button>
                            <button type="submit" class="btn btn-success btn-block mb-2">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Map Section -->
        <div class="col-md-6">
            <div class="card shadow-lg border-0 rounded-3">
                <div id="map" style="height: 700px; border-radius: 0.375rem;"></div>
            </div>
        </div>
    </div>
</div>




<script>



document.addEventListener('DOMContentLoaded', function () {
    function submitForm() {
        document.getElementById('fieldForm').addEventListener('submit', function (e) {
            e.preventDefault();

            // Validate if barangay (brgy) field has content
            var brgyField = document.getElementById('id_barangay').value;
            if (!brgyField.trim()) {
                showToast('Please select or enter a Barangay.', 'warning');
                return;
            }

            
            // Validate if the city is Cebu City
            var cityField = document.getElementById('id_city_municipality').value;
            if (cityField.trim().toLowerCase() !== 'cebu city') {
                showToast('The address must be in Cebu City.', 'warning');
                return;
            }

            // Check if latitude and longitude fields are filled
            var latitude = document.getElementById('id_latitude').value;
            var longitude = document.getElementById('id_longitude').value;
            if (!latitude || !longitude) {
                showToast('Please click "Show on map" to get coordinates.', 'warning');
                return;
            }

            // Use fetch API
            var formData = new FormData(this);
            var url = '{% url "add_field" %}';
            var csrfToken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;

            fetch(url, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-CSRFToken': csrfToken,
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    showToast('Field saved successfully!', 'success');
                    window.location.href = '{% url "dashboard" %}';
                } else {
                    showToast('Error saving field.', 'error');
                }
            })
            .catch(error => {
                console.error('Error occurred during fetch request:', error);
            });
        });
    }

    function initializeMap() {
        mapboxgl.accessToken = 'pk.eyJ1IjoiZnJhbnpnYWJpamFuIiwiYSI6ImNsdmV3dTljbTBlbzkya3BlY2Rwa28xczgifQ.z1HHDbS-prv9A3gwQJK43A';

        const cebucityBounds = [
            [123.4000, 10.0000], // Further southwest
            [124.2000, 10.7500]  // Further northeast
        ];

        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/satellite-streets-v11',
            center: [123.80833, 10.34629],
            zoom: 11,
            minZoom: 11,
            maxBounds: cebucityBounds
        });

        var marker = new mapboxgl.Marker({ draggable: true })
            .setLngLat([120.9842, 14.5995])
            .addTo(map);

        function onDragEnd() {
            var lngLat = marker.getLngLat();
            document.getElementById('id_latitude').value = lngLat.lat;
            document.getElementById('id_longitude').value = lngLat.lng;
            getAddress(lngLat.lng, lngLat.lat);
        }

        marker.on('dragend', onDragEnd);

        function getAddress(lng, lat) {
            var url = `https://api.mapbox.com/geocoding/v5/mapbox.places/${lng},${lat}.json?access_token=${mapboxgl.accessToken}`;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    if (data.features.length > 0) {
                        var place = data.features[0];
                        var barangay = '';
                        var city_municipality = '';
                        var country = '';

                        place.context.forEach(function (item) {
                            if (item.id.includes('neighborhood') || item.id.includes('locality')) {
                                barangay = item.text;
                            } else if (item.id.includes('place')) {
                                city_municipality = item.text;
                            } else if (item.id.includes('country')) {
                                country = item.text;
                            }
                        });

                        var barangaySelect = document.getElementById('id_barangay');
                        var matchedBarangay = false;

                        // Auto-select barangay if matched, otherwise reset to no selection
                        for (var i = 0; i < barangaySelect.options.length; i++) {
                            if (barangaySelect.options[i].text === barangay) {
                                barangaySelect.selectedIndex = i;
                                matchedBarangay = true;
                                break;
                            }
                        }

                        if (!matchedBarangay) {
                            barangaySelect.selectedIndex = -1;  // Reset selection
                            showToast('Marker is placed outside of selected barangay. Please adjust.', 'warning');
                        }

                        document.getElementById('id_city_municipality').value = city_municipality;
                        document.getElementById('id_country').value = country;
                    }
                })
                .catch(error => {
                    console.error('Error fetching address:', error);
                });
        }

        document.getElementById('geocodeButton').addEventListener('click', function () {
            var barangayName = document.getElementById('id_barangay').selectedOptions[0].text;
            var address = `${barangayName}, ${document.getElementById('id_city_municipality').value}, ${document.getElementById('id_country').value}`;

            var url = `https://api.mapbox.com/geocoding/v5/mapbox.places/${encodeURIComponent(address)}.json?access_token=${mapboxgl.accessToken}`;
            fetch(url)
                .then(response => response.json())
                .then(data => {
                    if (data.features.length > 0) {
                        var lngLat = data.features[0].center;
                        marker.setLngLat(lngLat);
                        map.flyTo({ center: lngLat });
                        document.getElementById('id_latitude').value = lngLat[1];
                        document.getElementById('id_longitude').value = lngLat[0];
                        getAddress(lngLat[0], lngLat[1]);
                    } else {
                        showToast('Address not found', 'warning');
                    }
                })
                .catch(error => {
                    console.error('Error geocoding address:', error);
                });
        });
    }

    submitForm();
    initializeMap();
});


</script>

{% endblock %}