{% extends 'base.html' %}

{% block content %}

<div class="container">
  <div class="row justify-content-center align-items-center" style="height: 50vh;">
    <div class="col-md-6 text-center">
      <h1>AI Page</h1>
      
      <h4>Input Address</h4>
      <ul class="list-group">
        <li class="list-group-item">
          <a href="{% url 'address_input' %}" class="btn btn-secondary">Manual AI Recommendation</a>
        </li>
        
        <li class="list-group-item">
          <a href="#" class="btn btn-secondary">Someting</a>
        </li>
      </ul>
      
    </div>
  </div>
</div>

{% endblock %}