{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-center mt-4">Dashboard</h1>
            <div>
                {% if user.profile_picture %}
                  <img src="{{ user.profile_picture.url }}" alt="Profile Picture" style="width: 150px; height: 150px;"/>
                {% else %}
                  <img src="{% static 'default_pp.jpg' %}" alt="Default Profile Picture" style="width: 150px; height: 150px;"/>
                {% endif %}
              </div>
            <h5 class="display-6 mb-3 fw-bolder">Hello, {{ user.username }} - DA Admin - Access All Data</h5>

            <!-- Table to display fields -->
            <div class="mt-4">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="table-dark">
                        <tr>
                            <th>ID</th>
                            <th>Usertype</th>
                            <th>Owner</th>
                            <th>Name</th>
                            <th>Acres</th>
                            <th>Location</th>
                            <th>Soil Data</th>
                            <th>Crop Planted</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for field in fields %}
                        <tr>
                            <td>{{ field.field_id }}</td>
                            <td>
                                {% if field.owner.is_farmer %}
                                    Farmer
                                {% elif field.owner.is_barangay_officer %}
                                    Barangay Officer
                                {% elif field.owner.is_da_admin %}
                                    DA Admin
                                {% else %}
                                    Unknown
                                {% endif %}
                            </td>
                            <td>{{ field.owner }}</td>
                            <td>{{ field.field_name }}</td>
                            <td>{{ field.field_acres }}</td>
                            <td>
                                {{ field.address.barangay }},
                                {{ field.address.city_municipality }},
                                {{ field.address.country }}
                            </td>
                            <td>
                                Nitrogen: {{ field.soil_data.nitrogen }}<br>
                                Phosphorous: {{ field.soil_data.phosphorous }}<br>
                                Potassium: {{ field.soil_data.potassium }}<br>
                                pH: {{ field.soil_data.ph }}
                            </td>
                            <td>{{ field.crop.crop_type }}</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a href="{% url 'update_field' field.field_id %}" class="btn btn-primary btn-sm mx-1">Update</a>
                                    <form action="{% url 'delete_field' field.field_id %}" method="post" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm mx-1" onclick="return confirm('Are you sure you want to delete this field?')">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
