{% extends 'base.html' %}
{% load static %}
{% block content %}


<style>
    .header {
        padding: 10px 20px;
    }

    .input-group {
        width: 800px;
    }

    .dropdown,
    .form-control,
    .btn {
        z-index: 1;
    }
</style>



<header class="header d-flex justify-content-between align-items-center mt-4">
    <!-- Search Bar -->
    <div class="d-flex align-items-center">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-secondary" type="button">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
    <!-- User Profile and Notification -->
    <div class="d-flex align-items-center">
        <button class="btn btn-notification me-3" type="button">
            <i class="fas fa-bell"></i>
        </button>

        <div class="dropdown d-flex align-items-center user-info">
            <a class="btn dropdown-toggle d-flex align-items-center" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                {% if user.profile_picture %}
                <img src="{{ user.profile_picture.url }}" alt="Profile Picture"
                    style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover;" />
                {% else %}
                <img src="{% static 'default_pp.jpg' %}" alt="Default Profile Picture"
                    style="width: 30px; height: 30px; border-radius: 50%; object-fit: cover;" />
                {% endif %}

                <div class="ms-2 me-3 d-flex flex-column text-start">
                    <strong>{{ user.username }}</strong>
                    {% if user.is_farmer %}
                    <span class="small text-muted">Farmer</span>
                    {% elif user.is_barangay_officer %}
                    <span class="small text-muted">Brgy Officer</span>
                    {% elif user.is_da_admin %}
                    <span class="small text-muted">DA Admin</span>
                    {% else %}
                    <span>Unknown</span>
                    {% endif %}
                </div>
            </a>

            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'settings' %}">Update Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'password_change' %}">Change Password</a></li>
                <li><a class="dropdown-item" href="{% url 'my_logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>


</header>




<!-- review and rating -->
<div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#reviewRatingModal">
        Leave a Review
    </button>

    <!-- Modal -->
    <div class="modal fade" id="reviewRatingModal" tabindex="-1" aria-labelledby="reviewRatingModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reviewRatingModalLabel">Leave a Review</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'reviewrating' %}">
                        {% csrf_token %}
                        {{ rform.as_p }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1 class="text-center mb-4">Dashboard</h1>



            <!-- Summary Section -->
            <div class="container">
                <div class="row justify-content-center mb-4">
                    <!-- Number of Fields -->
                    <div class="col-md-3 text-center shadow-sm p-3 mb-4 mx-2 bg-light rounded border">
                        <h5>
                            <i class="fas fa-tractor fa-2x text-primary"></i>
                            <span class="d-block mt-2">Number of Fields</span>
                        </h5>
                        <span class="display-4 font-weight-bold">{{ field_count }}</span>
                    </div>

                    <!-- Total Number of Acres -->
                    <div class="col-md-3 text-center shadow-sm p-3 mb-4 mx-2 bg-light rounded border">
                        <h5>
                            <i class="fas fa-map-marker-alt fa-2x text-success"></i>
                            <span class="d-block mt-2">Total Acres</span>
                        </h5>
                        <span class="display-4 font-weight-bold">{{ total_acres }}</span>
                    </div>

                    <!-- Number of Users -->
                    <div class="col-md-3 text-center shadow-sm p-3 mb-4 mx-2 bg-light rounded border">
                        <h5>
                            <i class="fas fa-users fa-2x text-warning"></i>
                            <span class="d-block mt-2">Active Users</span>
                        </h5>
                        <span class="display-4 font-weight-bold">{{ active_user_count }}</span>
                    </div>
                </div>

                <!-- List of Fields Section -->
                <h3 class="text-center mb-4">List of Fields</h3>
                <div class="row">
                    <!-- Table for Fields -->
                    <div class="col-md-9">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Field ID</th>
                                        <th>Usertype</th>
                                        <th>Owner</th>
                                        <th>Name</th>
                                        <th>Acres</th>
                                        <th>Location</th>
                                        <th>Soil Data</th>
                                        <th>Crop Planted</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for field in fields %}
                                    <tr>
                                        <td>{{ field.field_id }}</td>
                                        <td>
                                            {% if field.owner.is_farmer %}
                                            Farmer
                                            {% elif field.owner.is_barangay_officer %}
                                            Barangay Officer
                                            {% elif field.owner.is_da_admin %}
                                            DA Admin
                                            {% else %}
                                            Unknown
                                            {% endif %}
                                        </td>
                                        <td>{{ field.owner }}</td>
                                        <td>{{ field.field_name }}</td>
                                        <td>{{ field.field_acres }}</td>
                                        <td>
                                            {{ field.address.barangay }},
                                            {{ field.address.city_municipality }},
                                            {{ field.address.country }}
                                        </td>
                                        <td>
                                            Nitrogen: {{ field.soil_data.nitrogen }}<br>
                                            Phosphorous: {{ field.soil_data.phosphorous }}<br>
                                            Potassium: {{ field.soil_data.potassium }}<br>
                                            pH: {{ field.soil_data.ph }}
                                        </td>
                                        <td>{{ field.crop.crop_type }}</td>
                                        <td>
                                            <div class="btn-group" role="group">
                                                <a href="{% url 'update_field' field.field_id %}"
                                                    class="btn btn-primary btn-sm mx-1">Update</a>
                                                <form action="{% url 'delete_field' field.field_id %}" method="post"
                                                    style="display:inline;">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger btn-sm mx-1"
                                                        onclick="return confirm('Are you sure you want to delete this field?')">Delete</button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- Recent Activities -->
                    <div class="col-md-3">
                        <div class="border rounded p-3 bg-light shadow-sm">
                            <h4 class="mb-3"><strong>Recent Activity</strong></h4>
                            <div>
                                {% for fieldactivities in fields %}
                                <div class="mb-3">
                                    <span class="d-block">@ {{ fieldactivities.owner }} {{ fieldactivities.created_at|timesince }} ago</span>
                                    <p class="mb-0">Added field: {{ fieldactivities.field_name }} with
                                        {{fieldactivities.field_acres }} acres</p>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Charts Section -->
                <!-- <h3 class="text-center my-4">Charts</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center mb-4">
                            <h4>Field Crop Distribution</h4>
                            <img src="{{ donut_chart }}" alt="Donut chart" class="img-fluid">
                        </div>
                        <div class="text-center mb-4">
                            <h4>Fields Created Over Time</h4>
                            <form method="get" class="mb-3">
                                <label for="crop" class="form-label">Sort by Crop:</label>
                                <select name="crop" id="crop" class="form-select mb-2 w-50">
                                    <option value="">All</option>
                                    {% for crop in crops %}
                                    <option value="{{ crop.crop_type }}">{{ crop.crop_type }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit" class="btn btn-primary">Filter</button>
                            </form>
                            <img src="{{ line_chart }}" alt="Line chart" class="img-fluid">
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>

{% endblock %}