{% extends 'base.html' %}

{% load static %}
{% block content %}


<main class="container">
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: transparent;">
        <div class="container-fluid justify-content-center">
            <a class="navbar-brand d-none" href="#">Settings</a> <!-- Hidden brand for alignment purposes -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                      <a href="{% url 'view_profile' %}" class="nav-link active" aria-current="page">Profile</a>
                    </li>
                      <li class="nav-item">
                          <a href="{% url 'settings' %}" class="nav-link" aria-current="page">Update Profile</a>
                      </li>
                      <li class="nav-item">
                          <a href="{% url 'password_change' %}" class="nav-link">Change Password</a>
                      </li>
                      <li class="nav-item">
                          <a href="{% url 'billing' %}" class="nav-link">Subscription</a>
                      </li>
                  </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-4">
                <div class="profile-card-4 z-depth-3">
                    <div class="card">
                        <div class="card-body text-center bg-primary rounded-top">
                            <div class="user-box">
                                {% if user.profile_picture %}
                                <img src="{{ user.profile_picture.url }}" alt="Profile Picture"
                                    style="width: 130px; height: 130px; border-radius: 50%; object-fit: cover;" />
                                {% else %}
                                <img src="{% static 'default_pp.jpg' %}" alt="Default Profile Picture"
                                    style="width: 130px; height: 130px; border-radius: 50%; object-fit: cover;" />
                                {% endif %}
                            </div>

                            <h5 class="mb-1 text-white mb-1 mt-3">{{user.username}}</h5>
                            <h6 class="text-light">
                                <div>
                                    {% if user.roleuser.roleuser == "farmer" %}
                                    Farmer
                                    {% elif user.roleuser.roleuser == "brgy_officer" %}
                                    Brgy Officer
                                    {% elif user.roleuser.roleuser == "da_admin" %}
                                    City Agriculture Department
                                    {% else %}
                                    <strong> Unknown</strong>
                                    {% endif %}
                                </div>
                            </h6>
                        </div>
                        <div class="card-body">
                            <ul class="list-group shadow-none">



                                <li class="list-group-item">
                                    <div class="list-icon">
                                        <i class='bx bxs-id-card'>
                                            <small class="ms-3">{{user.official_user_id}}</small>
                                        </i>
                                    </div>
                                    
                                </li>
                                <li class="list-group-item">
                                    <div class="list-icon">
                                        <i class="fa fa-envelope">
                                            <small class="ms-3">{{user.email}}</small>
                                        </i>
                                    </div>
                                </li>
                                <li class="list-group-item">
                                    <div class="list-icon">
                                        <i class="fa fa-phone">
                                            <small class="ms-3">{{user.contact_number}}</small>
                                        </i>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card z-depth-3">
                    <div class="card-body">
                        <ul class="nav nav-pills nav-pills-primary nav-justified">
                            <li class="nav-item">
                                <a href="javascript:void();" data-target="#profile" data-toggle="pill"
                                    class="nav-link active show">
                                    <i class="icon-user"></i> <span class="hidden-xs">Profile</span>
                                </a>
                            </li>

                        </ul>
                        <div class="tab-content p-3">
                            <div class="tab-pane active show" id="profile">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>First Name: <strong>{{user.firstname}}</strong></p>
                                        {% if user.middle_initial %}
                                        <p>Middle Initial: <strong>{{user.middle_initial}}.</strong></p>
                                        {% else %}
                                        <p>Middle Initial: <strong></strong></p>
                                        {% endif %}
                                        <p>Last Name: <strong>{{user.lastname}}</strong></p>
                                        <p>Role:
                                            {% if user.roleuser.roleuser == "farmer" %}
                                            <strong> Farmer</strong>
                                            {% elif user.roleuser.roleuser == "brgy_officer" %}
                                            <strong> Brgy Officer</strong>
                                            {% elif user.roleuser.roleuser == "da_admin" %}
                                            <strong> City Agriculture Department</strong>
                                            {% else %}
                                            <strong> Unknown</strong>
                                            {% endif %}
                                        </p>
                                        <p>Gender: <strong>{{user.gender}}</strong></p>
                                        <p>Birthdate: <strong>{{user.date_of_birth}}</strong></p>
                                        <p>Address: <strong>{{user.useraddress}}</strong></p>
                                        <h6>Number of Fields Contributed: <strong>{{ field_count }}</strong></h6>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<style>
    .navbar-nav .nav-link.active {
        color: blue !important;
        position: relative;
    }

    .navbar-nav .nav-link.active::after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        background-color: blue;
        border-radius: 50%;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .deactivate-button {
        border-radius: 30px;
    }

    .additional-text {
        margin-left: 10px;
    }

    .btn {
        border-radius: 30px;
    }

    .card {
        box-shadow: 8px 8px 8px 8px rgba(197, 197, 197, 0.268);
        border: none;
        padding: 1rem;
    }

    .card-header {
        background-color: transparent;
        font-size: 1.25rem;
    }

    .form-label {
        font-weight: bold;
    }
</style>

{% endblock %}