{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Weather for {{ location }}</h1>
            {% if weather_data %}
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Temperature: {{ weather_data.main.temp }}°C
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Feels Like: {{ weather_data.main.feels_like }}°C
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Wind Speed: {{ weather_data.wind.speed }} m/s
                </li>
            </ul>
            {% else %}
            <p class="alert alert-warning" role="alert">
                No weather data found for "{{ location }}".
            </p>
            {% endif %}

            <form method="POST" class="mt-4">
                <div class="form-group">
                    {% csrf_token %}
                    <label for="location">Enter Location:</label>
                    <input type="text" name="location" id="location" class="form-control">
                </div><br>
                <button type="submit" class="btn btn-primary">Get Weather</button>
            </form>


            
            <div id="openweathermap-widget-11"></div>
            <script src='//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js'></script>
            <script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = []; window.myWidgetParam.push({ id: 11, cityid: '1717512', appid: 'ef4d05d95dcd14c6ea7dfeecdd7ca03e', units: 'metric', containerid: 'openweathermap-widget-11', }); (function () { var script = document.createElement('script'); script.async = true; script.charset = "utf-8"; script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s); })();</script>
            <br>
            <div id="openweathermap-widget-15"></div>
            <script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = []; window.myWidgetParam.push({ id: 15, cityid: '1717512', appid: 'ef4d05d95dcd14c6ea7dfeecdd7ca03e', units: 'metric', containerid: 'openweathermap-widget-15', }); (function () { var script = document.createElement('script'); script.async = true; script.charset = "utf-8"; script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s); })();</script>
            <br>
            <div id="openweathermap-widget-22"></div>
            <script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = []; window.myWidgetParam.push({ id: 22, cityid: '1717512', appid: 'ef4d05d95dcd14c6ea7dfeecdd7ca03e', units: 'metric', containerid: 'openweathermap-widget-22', }); (function () { var script = document.createElement('script'); script.async = true; script.charset = "utf-8"; script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js"; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s); })();</script>

            
        </div>
    </div>
</div>
{% endblock %}