{% extends 'bofa_base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Weather for {{ location }}</h1>
            {% if weather_data %}
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Temperature: {{ weather_data.main.temp }}°C
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Feels Like: {{ weather_data.main.feels_like }}°C
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    Wind Speed: {{ weather_data.wind.speed }} m/s
                </li>
            </ul>
            {% else %}
            <p class="alert alert-warning" role="alert">
                No weather data found for "{{ location }}".
            </p>
            {% endif %}

            <form method="POST" class="mt-4">
                <div class="form-group">
                    {% csrf_token %}
                    <label for="location">Enter Location:</label>
                    <input type="text" name="location" id="location" class="form-control">
                </div><br>
                <button type="submit" class="btn btn-primary">Get Weather</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}