{% extends 'bofa_base.html' %}
{% block content %}

<style>
    body, html {
        height: 100%;
        margin: 0;
        width: auto;
        overflow: hidden; 
    }

    #map {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
</style>

<div id="map"></div>



<script>
    mapboxgl.accessToken =  'pk.eyJ1IjoiZnJhbnpnYWJpamFuIiwiYSI6ImNsdmV3dTljbTBlbzkya3BlY2Rwa28xczgifQ.z1HHDbS-prv9A3gwQJK43A';

  
    var map = new mapboxgl.Map({
        container: 'map', 
        style: 'mapbox://styles/mapbox/satellite-streets-v11',
        center: [123.80833, 10.34629], 
        zoom: 11 
    });

   
    var fields = JSON.parse('{{ fields_json|escapejs }}');

    // Add markers for each field on the map
    fields.forEach(function(field) {
        var marker = new mapboxgl.Marker()
            .setLngLat([field.longitude, field.latitude]) 
            .setPopup(new mapboxgl.Popup({ offset: 25 }).setText(`${field.name}, Acres: ${field.acres}`)) 
    });
</script>

{% endblock %}
